// Place all the styles related to the Ripples controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.ripples {
	tr.list_line_even {
		background-color: #add8e6;
	}
}

p.speaker {
	font-size: 2vw;
}

p.message {
	line-height: 80%;
	text-align: center;
	font-size: 5vw;
}
